/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&family=Teko:wght@500&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #b5b2b2;
}

#container{
	padding-top: 2%;
	padding-right: 30%;
	padding-left: 30%;
	padding-bottom: 2%;
}

.card{
	align-items: center;
	align-content: space-between;
	text-align: center;
	width: 50%;
	height: 50%;
}
	.card:hover{
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	} 

		.card .button{
			font-size: 1.2em;
			color: #fff;
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 300;
			background-color: #ea0000;
			margin:15px;
			padding: 8px;
			border: none;
			border-radius: 15px;
			cursor: pointer;
		}

			.card .button:hover{
				box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
			}	

.producto{
	position: relative;
	width: 250px;
	height: 250px;
	flex: none;
	overflow: hidden;	
}

.producto img{
	object-fit: contain;
	width: 100%;
	height: 250px;
}

h3{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
}

h4{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	text-align: center;
}

h5{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 0.5em;
	font-weight: 300;
	text-align: center;
}

h6{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 0.3em;
	font-weight: 300;
	text-align: center;
}
