//font
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&family=Teko:wght@500&display=swap');

//vars fonts
$mainFont:'Nunito Sans', sans-serif;

//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:1.5em;
$textXl:2.5em;

//weigths
$text300: 300;
$text700: 700;


