//nesting
nav{
	background-color: $bg-white;

	#botonera img{
		width: 90px;
		height: 90px;
		border-radius: 15px;
	}

	ul li a{
		font-size: $textLg;
	}
}

.seguimiento{
	background-color: $mainColor;
}
